{
  "allowAdminCommands": true,
  "allowAdminCommandsFromAnyone": false,
  "allowAnonymousConnections": false,
  "allowAssetsMismatch": false,
  "anonymousConnectionsAreAdmin": false,
  "checkAssetsDigest": false,
  "clearPlayerFiles": false,
  "clearUniverseFiles": false,
  "clientIPJoinable": false,
  "clientP2PJoinable": true,
  "crafting": {
    "filterHaveMaterials": false
  },
  "gameServerBind": "::",
  "gameServerPort": 21025,
  "interactiveHighlight": true,
  "maxPlayers": 32,
  "maxTeamSize": 4,
  "queryServerBind": "::",
  "queryServerPort": 21026,
  "rconServerBind": "::",
  "rconServerPassword": "",
  "rconServerPort": 21027,
  "rconServerTimeout": 1000,
  "runQueryServer": true,
  "runRconServer": false,
  "safeScripts": true,
  "scriptInstructionLimit": 10000000,
  "scriptInstructionMeasureInterval": 10000,
  "scriptProfilingEnabled": false,
  "scriptRecursionLimit": 100,
  "serverFidelity": "automatic",
  "serverName": "Starbound MMO Server",
  "serverOverrideAssetsDigest": null,
  "serverUsers": {}
}
